.btn {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: #2a2b32;
  }
}